<div class="column">
  <img class="full" src="../../../../assets/psihic.webp" alt="Image description">
 <div>
  <h2>{{title}}</h2>
  <hr>
  <h2 *ngIf="students.length > 0">Applied students:</h2>
  <div *ngIf="students.length === 0">
    <p class="no">No applied students yet!</p>
  </div>
  <table class="table margins table-striped" *ngIf="students.length > 0">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ student.name }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
    </tr>
  </tbody>
  </table>
  <div *ngIf="students.length > 0"> 
  <ng-container *ngIf="isDefined; else alternativeTemplate">
    <h2>Detailes have already been sent to students</h2>
  </ng-container>
  <ng-template #alternativeTemplate>
  <div class="back">
    <h2>DEFINE DETAILS</h2>
    <div class="down">
      <div class="left">
        <h3 class="time">📅 Choose time: </h3>
        <select class="options" name="times" [(ngModel)]="selectedTime">
          <option value="8">08:00h</option>
          <option value="10">10:00h</option>
          <option value="12">12:00h</option>
          <option value="14">14:00h</option>
          <option value="16">16:00h</option>
          <option value="18">18:00h</option>
          <option value="20">20:00h</option>
        </select>
        <h3 class="time">⏱️ Choose duration:</h3>
        <input type="number" id="duration" name="duration" min="1" max="5" [(ngModel)]="duration">
      </div>
      <div class="right container">
        <div *ngFor="let hall of halls">
          <div class="card">
            <div class="card-header">
              <input type="radio" [(ngModel)]="selectedHall" [value]="hall" name="selectedHall"> 
              {{ hall.name }}
            </div>
            <div class="card-body">
              <p>Capacity: {{ hall.capacity }}</p>
            </div>
          </div>
        </div>
      </div>      
      <button class="button" (click)="done()">DONE</button>
    </div>
  </div>
</ng-template>
</div>
</div>
</div>
