<!-- notifications.component.html -->
<div class="notifications-container">
    <h2>Topics that you want to see tommorow ( Aug 30, 2024. )</h2>
    <div *ngFor="let topic of topics; let i = index">
        <h4 *ngIf="i === 0 || (topic.date | date:'yyyy-MM-dd') !== (topics[i - 1].date | date:'yyyy-MM-dd')">
            {{ topic.date | date }}
        </h4>
        <div class="notification-card" [class.disabled]="topic.disabled">
            <p class="topic-faculty"><strong>Faculty:</strong> {{ topic.facultyName }}</p>
            <p class="topic-request"><strong>Fair:</strong> {{ topic.requestName }}</p>
            <p class="topic-title"><strong>Topic:</strong> {{ topic.name }}</p>
            <p class="topic-classroom"><strong>Classroom:</strong> {{ topic.classroom.name }}</p>
            <p class="topic-time"><strong>Time:</strong> {{ topic.startTime }} - {{ topic.endTime }}</p>
        </div>
    </div>
</div>
