<div class="header-image">
    <img src="https://img.freepik.com/premium-vector/metaphor-bipolar-disorder-mind-mental-2-head-silhouette-with-flowering-tree-bare-tree_175061-662.jpg" alt="Header Image">
</div>

<div class="container">
    <div class="form-container" *ngIf="renderselectFaculty">
        <div class="modal-content centered-form">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ selectFair?.name }}</h2>
            <form [formGroup]="eventForm" (ngSubmit)="createExtraActivity()" class="event-form">
                <div class="form-group">
                    <label for="name">Extra activity name:</label>
                    <input type="text" id="name" formControlName="name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="date">Select Date:</label>
                    <input type="date" id="date" formControlName="date" class="form-control">
                </div>

                <div class="form-group">
                    <label for="startTime">Start Time:</label>
                    <input type="time" id="startTime" formControlName="startTime" class="form-control">
                </div>

                <div class="form-group">
                    <label for="endTime">End Time:</label>
                    <input type="time" id="endTime" formControlName="endTime" class="form-control">
                </div>

                <div class="form-group">
                    <label for="activityType">Activity type:</label>
                    <select id="activityType" formControlName="activityType" class="form-control">
                        <option *ngFor="let type of activityTypes" [value]="type">{{ type }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="classroom">Classroom:</label>
                    <input type="text" id="classroom" formControlName="classroom" class="form-control">
                </div>

                <div class="form-group">
                    <label for="capacity">Classroom capacity:</label>
                    <input type="number" id="capacity" formControlName="capacity" class="form-control">
                </div>

                <button type="submit" class="button1">Done</button>
            </form>
        </div>
    </div>

    <div class="scroll-container">
        <div class="all-faculties">
            <div class="faculty-container" *ngFor="let fair of fairs">
                <h2>{{ fair.name }}</h2>

                <div class="faculty-details">
                    <div class="faculty-container-form">
                        <h3>📅 Date:</h3>
                        <p>{{ fair.date | date:'dd.MM.yyyy' }}</p>
                    </div>

                    <div class="faculty-container-form">
                        <h3>⌚ Time:</h3>
                        <p>{{ fair.startTime }} - {{ fair.endTime }}</p>
                    </div>

                    <div class="faculty-container-form">
                        <h3>✒️ Description:</h3>
                        <p>{{ fair.description }}</p>
                    </div>
                </div>

                <button class="button" (click)="selectedFair(fair)">Join this fair!</button>
            </div>
        </div>
    </div>
</div>
