<div class="wrap">
  <div class="form-background">
    <form [formGroup]="userForm" class="form-wrap">
      <div class="first-form">
        <p class="title">Sign In</p>
        <p class="under-title">
          By signing in, you'll unlock the full potential of our platform.
        </p>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>
        <button class="button1" type="submit" color="primary" (click)="LogIn()">
          Sign in
        </button>

        <div class="inner-wrap">
          <p class="account">Don't have an account?</p>
          <a href="register" class="link">Sign Up</a>
        </div>
      </div>

      <div class="inner-wrap">
        <p class="account">By continuing you are agreeing to our</p>
        <a class="link">Terms of Service</a>
        <p class="account">and</p>
        <a class="link">Privacy policy</a>
      </div>
    </form>
  </div>
  <div class="image-background">
    <img
      src="../../../../assets/mozak.png"
    />
  </div>

</div>
