<div class="wrap">
  <div class="form-background">
    <form [formGroup]="userForm" class="form-wrap">
      <div class="first-form">
        <p class="title">Sign In</p>
        <p class="under-title">
          By signing in, you'll unlock the full potential of our platform.
        </p>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>
        <button class="button1" type="submit" color="primary" (click)="LogIn()">
          Sign in
        </button>

        <div class="inner-wrap">
          <p class="account">Don't have an account?</p>
          <a href="register" class="link">Sign Up</a>
        </div>
      </div>

      <div class="inner-wrap">
        <p class="account">By continuing you are agreeing to our</p>
        <a class="link">Terms of Service</a>
        <p class="account">and</p>
        <a class="link">Privacy policy</a>
      </div>
    </form>
  </div>
  <div class="image-background">
    <img
      src="https://s3-alpha-sig.figma.com/img/9e10/25a4/c378702fe5ee818ec90178eb1e265a20?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hV9KbMB9popepPgWeDzVa7gJ-3I~J7EVAWBNO5qI2dIpEhKREexBbY5aFesNRXtPquE3zvgf5R3CX3YIjrYkwS0gYHuAcZIfXXtRVRTHmHB2D379kmGR-GHJWqZvt51jiBC7bSa0V23cLORR9dTWfhaMZnlMVteH3dLYoCKXIIM4qXI9c4EN8W8e2OyX4lg3lns9F8KxsoL9Ot5e5Gt0~O9br68GUlOtq-g0hr62xogtcaxHJYiStesI5K7jhPhPDRYSRQ4ncao1hrI-Rp5JmBTz8-gSSx~UoOXNaa4PyWSiZxweUF7ZbQnzWBgOAVWGsLDKBmgA-z25Rz0Eo~vmgA__"
    />
  </div>
</div>
