<div class="container">
    <div class="scroll-container">
        <button class="scroll-button left" (click)="scrollLeft()"><</button>
        <div class="all-months" #scrollableContainer>
            <div *ngFor="let month of (fairs | keyvalue)" class="month-container">
                <div class="month-image-container">
                    <img class="month-image" src="https://img.freepik.com/premium-vector/metaphor-bipolar-disorder-mind-mental-2-head-silhouette-with-flowering-tree-bare-tree_175061-662.jpg" alt="Month image">
                    <h2 class="month-title">{{ month.key }}</h2>
                </div>
                <div class="fairs-container" *ngIf="month.key != 'July 2024' && month.key != 'August 2024' && month.key != 'September 2024' && month.key != 'October 2024' && month.key != 'November 2024' && month.key != 'December 2024'; else rateMessage">
                    <div class="faculty-container" *ngFor="let fair of month.value">
                        <h2>{{ fair.name }}</h2>
                        <div class="faculty-details">
                            <div class="faculty-container-form">
                                <h3>📅 Date:</h3>
                                <p>{{ fair.date | date:'dd.MM.yyyy' }}</p>
                            </div>
                            <div class="faculty-container-form">
                                <h3>⌚ Time:</h3>
                                <p>{{ fair.startTime }} - {{ fair.endTime }}</p>
                            </div>
                        </div>
                        <div class="faculty-container-pink">
                            <h3>👨‍⚕️ Psychologists:</h3>
                            <ul>
                                <li *ngFor="let psychologist of fair.psychologists">
                                    {{ psychologist.name }} {{ psychologist.lastName }}
                                    <ul *ngIf="fair.activites && fair.activites.length > 0">
                                        <li *ngFor="let extraActivity of fair.activites">
                                            <div class="apply-extraActivity">
                                                Topic: {{ extraActivity.name }} (Classroom: {{ extraActivity.classroom }})
                                                <button class="button" *ngIf="renderRate" (click)="rateFair(extraActivity?.id)">
                                                    Rate this extra activity!
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ng-template #rateMessage>
                    <div class="rate-message">
                        <p>This is an upcoming fair!</p>
                        <button class="button" (click)="navigateToVisitFairs()">View Fair</button>
                    </div>
                </ng-template>
            </div>
        </div>
        <button class="scroll-button right" (click)="scrollRight()">></button>
    </div>

    <!-- Modal for the form -->
    <div class="modal" *ngIf="selectActivity">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ selectActivity?.name }}</h2>
            <form [formGroup]="eventForm" *ngIf="eventForm" (ngSubmit)="applyExtraActivity(selectActivity)" class="event-form">
                <div class="form-group">
                    <label for="name">Your name:</label>
                    <input type="text" id="name" formControlName="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastName">Your last name:</label>
                    <input type="text" id="lastName" formControlName="lastName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Your email:</label>
                    <input type="text" id="email" formControlName="email" class="form-control">
                </div>
                <button type="submit" class="button1">Done</button>
            </form>
        </div>
    </div>
</div>
