.container {
    position: relative;
    padding: 20px;
    background-color: #f4f7fa;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.search-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    z-index: 1;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sort-button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.sort-button:hover {
    background-color: #0056b3;
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: calc(100% - 20px); /* Adjust width to fit two cards and buttons */
    gap: 30px; /* Space between cards */
}

.request-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px; /* Povećano margine unutar kartice */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: calc(50% - 60px); /* Šire kartice */
    display: flex;
    flex-direction: column;
}

.request-container h2 {
    font-size: 1.8em; /* Povećana veličina naslova */
    margin-bottom: 15px;
    color: #333;
}

.carousel-nav {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
}

.left-nav {
    margin-right: -30px;
}

.right-nav {
    margin-left: -30px;
}

.fair-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px; /* Povećan razmak ispod datuma */
}

.fair-dates {
    font-size: 1.3em;
    font-weight: bold;
    color: #007bff;
}

.faculty-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
}

.faculty-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Razmak između fakulteta i ostatka sadržaja */
}

.faculty-photo {
    width: 80px; /* Širina slike */
    height: 80px; /* Visina slike */
    margin-bottom: 5px; /* Razmak između slike i naziva */
}

.row{
    display: flex;
    flex-direction: row;
}

.fair-published {
    font-size: 1.1em;
    color: #555;
}

.classrooms-container {
    margin-top: 20px; /* Povećan razmak između Classroom sekcija */
}

.classrooms-container h3 {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: #007bff;
}

.classrooms-container h4 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
    margin-top: 20px;
    /* margin-left: 210px; */
}

.classroom-circles {
    display: flex;
    gap: 40px; /* Povećan razmak između krugova */
    flex-wrap: wrap;
}

.classroom-circle {
    background-color: #e0f7fa;
    border: 2px solid #007bff;
    border-radius: 50%;
    width: 180px; /* Povećana širina kruga */
    height: 150px; /* Povećana visina kruga */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px; /* Povećan padding unutar kruga */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.classroom-circle p {
    margin: 5px 0; /* Povećan razmak između tekstova unutar kruga */
    font-size: 1em; /* Povećana veličina fonta unutar kruga */
    color: #007bff;
}

.button {
    background-color: #09519e;
    color: white;
    border: none;
    padding: 12px 25px; /* Povećan padding dugmeta */
    font-size: 1.1em; /* Povećana veličina fonta dugmeta */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
    align-self: center;
}

.button:hover {
    background-color: #140372;
}
