<img class="full" src="../../../../assets/kukica1.jpg" alt="Image_description">
<div class="all-faculties">
    <div class="faculty-container" *ngFor="let fair of fairs">
        
        <h2>{{ fair.name }}</h2>
        <div class="faculty-container-form"><h3>Date:  </h3> <p>{{ fair.date | date:'dd.MM.yyyy' }}</p></div>
         
        <div class="faculty-container-form"><h3>Time:  </h3> <p>{{ fair.startTime }} -</p><p>{{fair.endTime }}</p> </div>
        <!-- <div class="faculty-container-form"><h3>End:  </h3></div> -->
    
            <div class ="faculty-container-pink">
            <!-- Prikazivanje svih psihologa za trenutni sajam -->
                <h3>Psychologists:</h3>
                <ul>
                    <li *ngFor="let psychologist of fair.psychologists">
                        {{ psychologist.name }} {{ psychologist.lastName }}
                        <!-- Prikazivanje svih ekstra aktivnosti za trenutnog psihologa -->
                        <ul>
                            <li *ngFor="let extraActivity of fair.activites">
                                {{ extraActivity.name }} {{ extraActivity.classroom }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        <button class="button" *ngIf="fair.publish == false && fair.psychologists != null" (click)="publishFair(fair)">Publish this fair!</button>
    </div>
</div>