<div class="container">
    <div class="all-faculties">
        <div class="column">
            <h2>Unpublished Fairs</h2>
            <div cdkDropList id="unpublishedFairs" [cdkDropListData]="unpublishedFairs" cdkDropListConnectedTo="publishedFairs" class="fair-list" (cdkDropListDropped)="drop($event)">
                <div class="faculty-container" *ngFor="let fair of unpublishedFairs" cdkDrag>
                    
                    <div class="faculty-details">
                        <div class="faculty-container-form">
                            <h3>📅 Date:</h3>
                        </div>
                        
                        <div class="faculty-container-form">
                            <h3>⌚ Time:</h3>
                        </div>
                    </div>

                    <div class="faculty-container-pink">
                        <h3>👨‍⚕️ Psychologists:</h3>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <h2>Published Fairs</h2>
            <div cdkDropList id="publishedFairs" [cdkDropListData]="publishedFairs" cdkDropListConnectedTo="unpublishedFairs" class="fair-list" (cdkDropListDropped)="drop($event)">
                <div class="faculty-container" *ngFor="let fair of publishedFairs" cdkDrag>
                    
                    <div class="faculty-details">
                        <div class="faculty-container-form">
                            <h3>📅 Date:</h3>
                        </div>
                        
                        <div class="faculty-container-form">
                            <h3>⌚ Time:</h3>
                        </div>
                    </div>

                    <div class="faculty-container-pink">
                        <h3>👨‍⚕️ Psychologists:</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
