<div class="step-navigation">
    <div 
        class="step-circle" 
        [class.active]="currentStep === 1" 
        [class.disabled]="stepDisabled === 1" 
        (click)="!stepDisabled && goToStep(1)">
        1
    </div>
    <div class="step-connector"></div>
    <div 
        class="step-circle" 
        [class.active]="currentStep === 2" 
        [class.disabled]="stepDisabled === 2" 
        (click)="!stepDisabled && goToStep(2)">
        2
    </div>
</div>

<div class="container">
    <div class="left-side">
        <div *ngIf="requestDetail">
            <h2>{{ requestDetail.request.name }}</h2>
            
            <div *ngIf="requestDetail.fair" class="fair-details">
                <p *ngIf="requestDetail.faculty?.name" class="faculty-name">{{ requestDetail.faculty.name }}</p>

                <p class="fair-dates">{{ requestDetail.fair.approvedStartDate | date }} - {{ requestDetail.fair.approvedEndDate | date }}</p>
                <p class="fair-published">Published: {{ requestDetail.fair.isPublish ? 'Yes' : 'No' }}</p>
            </div>

            <div *ngIf="requestDetail.classrooms.length > 0" class="classrooms-container">
                <div *ngFor="let date of getUniqueDates(requestDetail.classrooms)">
                    <h4>{{ date | date }}</h4>
                    <div class="classroom-circles">
                        <div 
                            class="classroom-circle" 
                            *ngFor="let classroom of getClassroomsByDate(requestDetail.classrooms, date)"
                            [class.selected]="selectedClassroom === classroom"
                            [class.disabled]="classroom.disabled"
                            (click)="selectClassroom(classroom)">
                            <p>{{ classroom.name }}</p>
                            <p>{{ classroom.startTime }} - {{ classroom.endTime }}</p>
                            <p>Floor: {{ classroom.floor }}</p>
                            <p>Capacity: {{ classroom.capacity }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <button class="button" (click)="nextStep()">Next Step</button> -->
    </div>

    <div class="right-side" *ngIf="currentStep === 1 && selectedClassroom">
        <!-- Step 1: Kreiranje topica -->
        <div class="step">
            <h3>Max duration of topic: {{ maxDuration }} minutes</h3>
            <div class="form-group">
                <label for="topic">Name of the topic:</label>
                <input type="text" id="topic" [(ngModel)]="newTopic" class="form-control">
            </div>
            <div class="form-group">
                <label for="duration">Duration of the topic (in minutes):</label>
                <input type="number" id="duration" [(ngModel)]="topicDuration" class="form-control">
            </div>
            <button class="button" (click)="addTopic()">Add Topic</button>

            <div *ngIf="suggestedTimes.length > 0">
                <h4>Suggested times:</h4>
                <div *ngFor="let time of suggestedTimes">
                    <button (click)="setTopic(time)">{{ time.start }} - {{ time.end }}</button>
                </div>
            </div>
            <div *ngIf="showError" class="error-message">
                <p>{{ errorMessage }}</p>
            </div>
            
        </div>
    </div>

    <div class="right-side" *ngIf="currentStep === 2">
        <div class="search-sort-container">
            <input type="text" placeholder="Search by topic name or date" [(ngModel)]="searchQuery" (ngModelChange)="updateFilteredTopics()" class="form-control">
            
            <button (click)="sortTopics('asc')" class="button">Sort asc</button>
            <button (click)="sortTopics('desc')" class="button">Sort desc</button>
        </div>
        
        <div *ngFor="let topic of filteredTopics; let i = index">
            <!-- Prikaz datuma samo ako je različit od prethodnog -->
            <h4 *ngIf="i === 0 || (topic.date | date:'yyyy-MM-dd') !== (filteredTopics[i - 1].date | date:'yyyy-MM-dd')">
                {{ topic.date | date }}
            </h4>
            <div class="step">
                <p class="topic-title">
                    {{ topic.name }} - {{ topic.classroom.name }} ({{ topic.startTime }} - {{ topic.endTime }})
                </p>
                <h3>Select which psychologist you would like to see at the fair:</h3>
                <div class="psychologists-container">
                    <div *ngFor="let psychologist of psychologists">
                        <button class="psychologist-button"
                                [class.selected]="psychologist.id === selectedPsychologistId"
                                (click)="openChat(topic.id || 1, psychologist.id)">
                            {{ psychologist.name }} {{ psychologist.lastName}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    
        <app-chat *ngIf="selectedTopicId && selectedPsychologistId"
                  [selectedTopicId]="selectedTopicId"
                  [selectedPsychologistId]="selectedPsychologistId">
        </app-chat>
    </div>
</div>
