.student-internship {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.student-internship-details {
    margin-bottom: 20px;
}

.task-cards {
    display: flex;
    flex-wrap: wrap;
}

.task-card {
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.task-header-wrapper {
    background-color: blue;
    display: inline-block; 
}

.task-content {
    background-color: rgb(60, 89, 143);
    padding: 10px; 
    border-radius: 5px; 
}

.task-header {
    color: white;
}

.line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task-body {
    margin-bottom: 10px;
}

.task-status {
    font-style: italic;
    color: white;
    font-weight: bold;
    width: 130px;
    text-align: center;
    border-radius: 10px;
}

.centering{
   text-align: center;
}

.butt{
    background-color: rgb(60, 89, 143);
    border: transparent;
    color: white;
    font-size:large;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.big-checkbox {
    transform: scale(1.5); 
}

.checkbox-container {
    margin-right: 10px; 
}
