<div class="student-internship">
    <div class="task-cards">
        <div *ngFor="let task of studentInternship?.tasks" class="task-card">
            <div class="task-content">
                <div class="task-header">{{ task.title }}</div>
            </div>
                <div class="task-body">Description:{{ task.description }}</div>
            
            <hr>
            <div class="line">
            <p>Status:</p>
            <div class="task-status" [ngStyle]="{ 'background-color': getStatusColor(task.status) }">{{ task.status }}</div>
            </div>
            <div class="line">
                <p>Priority:</p>
                <div class="task-status" [ngStyle]="{ 'background-color': getPriorityColor(task.priority) }">{{ task.priority }}</div>
                </div>

                <div *ngIf="userRole === 'ROLE_STUDENT' && task.status === 'IN_PROGRESS'" class="checkbox-container">
                    <input type="checkbox" class="big-checkbox" (change)="handleCheckboxChange($event, task)">
                </div>
    
                <div *ngIf="task.pdfUrl">
                    <iframe [src]="task.pdfUrl" width="100%" height="500px"></iframe>
                    <button (click)="uploadPdf(task)">Send PDF</button>
                </div>
                
        
    </div>
    <div class="centering">
    <button *ngIf="userRole == 'ROLE_PSYCHOLOG'" class="butt" (click)="newTask()">NEW TASK</button>
    </div>

    <app-new-task-form *ngIf="showNewTaskForm" (taskCreated)="handleTaskCreated($event)"></app-new-task-form>
</div>

