.line{
    background-color: rgba(193, 210, 243, 0.5); 
    height: fit-content;
    display: flex;
}

.img-container{
    margin: 20px;
}

.between{
    margin: 40px;
    background-color: rgb(246, 244, 244);
}

.center{
    margin: auto;
}

.img-ctr{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-ctr-2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: -10px;
}

.txt{
    min-height: 150px;
}

.grid{
    display: grid;  
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: auto auto auto auto auto;
    margin: 20px;
}

.btn{
    margin-left: 140px;
}
h1{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.smaller-txt{
    font-size: small;
}

h2{
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
}

.outer{
    display: flex;
    justify-content: space-between;
}

p{
    font-size: 20px;
    text-align: center;
}
.img-container:hover{
    transform: scale(1.05); 
}
.smaller-card{
    border: solid 1px;
    padding: 20px;
    max-height: fit-content;
    max-width: fit-content;
}

.smaller-card:hover{
    transform: scale(1.1); 
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2); 
}

.margin{
    margin: 80px;
}

button{
    text-align: center;
}

button:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}

.notification-icon-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.notification-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: yellow;
    color: black;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}

.notification-popup {
    position: fixed;
    top: 50px;
    right: 10px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
