<mat-toolbar color="primary">
  <img
    src="https://static.vecteezy.com/system/resources/previews/016/389/995/original/brain-and-mind-research-free-png.png"
    alt="logo"
    width="70px"
  />
  <h2 class="nav">EQUILIBRIA</h2>
  <div class="spacer"></div>
  <a mat-button routerLink="/">Home</a>
  <a
    mat-button
    routerLink="/sessions"
    *ngIf="userRole == 'ROLE_REGISTERED_USER' || userRole == 'ROLE_PSYCHOLOG'"
    >| My sessions |</a
  >
  <a
    mat-button
    routerLink="/workshops"
    *ngIf="userRole == 'ROLE_REGISTERED_USER'"
    >| My workshops |</a
  >
  <a mat-button routerLink="/test-history" *ngIf="userRole == 'ROLE_PSYCHOLOG'"
    > Intrenship Tests </a
  >

  <a mat-button routerLink="/internship-tasks" *ngIf="userRole == 'ROLE_PSYCHOLOG' || userRole == 'ROLE_STUDENT'"
    > | My Intrenships |</a
>
  <a mat-button routerLink="/internship-overview" *ngIf="userRole == 'ROLE_MANAGER'"
    >| Organize tests |</a
  >
  <a
    mat-button
    routerLink="/register-psychologist"
    *ngIf="userRole == 'ROLE_SYSTEM_ADMIN'"
    >|Register new specialist|</a
  >

  <a mat-button routerLink="/about-us">About us</a>
  <div class="spacer"></div>
  <a mat-button routerLink="/login" *ngIf="userRole == ''">Log in</a>
  <a mat-button routerLink="/register" *ngIf="userRole == ''">Sign up</a>
  <a mat-button routerLink="/profile" *ngIf="userRole != ''">Your profile</a>
  <a mat-button routerLink="/login" *ngIf="userRole != ''" (click)="logout()"
    >Log out</a
  >
</mat-toolbar>
