<mat-toolbar color="primary">
  <img
    src="https://static.vecteezy.com/system/resources/previews/016/389/995/original/brain-and-mind-research-free-png.png"
    alt="logo"
    width="70px"
  />
  <h2 class="nav">EQUILIBRIA</h2>
  <div class="spacer"></div>
  <a mat-button routerLink="/">Home</a>
  <a
    mat-button
    routerLink="/calendar"
    *ngIf="userRole == 'ROLE_MANAGER'"
    >| Fairs calendar |</a
  >
  <a
    mat-button
    routerLink="/sessions"
    *ngIf="userRole == 'ROLE_REGISTERED_USER' || userRole == 'ROLE_PSYCHOLOG'"
    >| My sessions |</a
  >
  <a
    mat-button
    routerLink="/workshops"
    *ngIf="userRole == 'ROLE_REGISTERED_USER'"
    >| My workshops |</a
  >

  <a
    mat-button
    routerLink="/organizefair"
    *ngIf="userRole == 'ROLE_MANAGER'"
    > Invite faculties </a
  >
  <a mat-button routerLink="/students" *ngIf="userRole == 'ROLE_STUDENT'"
    >| Internship progress |</a>

  <a mat-button routerLink="/test-history" *ngIf="userRole == 'ROLE_PSYCHOLOG'"
    > Intrenship Tests </a
  >

  <a mat-button routerLink="/internship-tasks" *ngIf="userRole == 'ROLE_PSYCHOLOG' || userRole == 'ROLE_STUDENT'"
    >| My Intrenships |</a
>
  <a mat-button routerLink="/internship-overview" *ngIf="userRole == 'ROLE_MANAGER'"
  matBadge="3"
  matBadgeColor="warn"
  matBadgeOverlap="false"
    >| Organize tests |</a
  >

  <a 
  mat-button 
  routerLink="/all_requests" 
  *ngIf="userRole == 'ROLE_MANAGER'"
  
>
  Accepted requests |
</a>


  <a
    mat-button
    routerLink="/publishfair"
    *ngIf="userRole == 'ROLE_MANAGER'"
    >Publish fairs |</a
  >

  <a
    mat-button
    routerLink="/my-fairs"
    *ngIf="userRole == 'ROLE_STUDENT'"
    >My fairs |</a
  >

  <!-- <a mat-button routerLink="/materialfair" *ngIf="userRole == 'ROLE_MANAGER'"
    >| Material for fair |</a
  > -->
  <a
    mat-button
    routerLink="/register-psychologist"
    *ngIf="userRole == 'ROLE_SYSTEM_ADMIN'"
    >|Register new specialist|</a
  >

  <a
  mat-button
  routerLink="/visitfairs"
  *ngIf="userRole == 'ROLE_REGISTERED_USER' || userRole == 'ROLE_STUDENT'"
  >  Visit fairs |</a
>

  <a
  mat-button
  routerLink="/psychologist_apply"
  *ngIf="userRole == 'ROLE_PSYCHOLOG'"
  > Application for topic |</a
>


<a
  mat-button
  routerLink="/apply-student-for-test"
  *ngIf="userRole == 'ROLE_STUDENT'"
  > Apply for Internship test |</a
>

  <a mat-button routerLink="/about-us">About us</a>
  <div class="spacer"></div>
  <a mat-button routerLink="/login" *ngIf="userRole == ''">Log in</a>
  <a mat-button routerLink="/register" *ngIf="userRole == ''">Sign up</a>
  <a mat-button routerLink="/profile" *ngIf="userRole != ''">Your profile</a>
  <a mat-button routerLink="/login" *ngIf="userRole != ''" (click)="logout()"
    >Log out</a
  >
</mat-toolbar>
