<div class="container">
    <div class="search-sort-container">
        <input type="text" placeholder="Search by name..." [(ngModel)]="searchTerm" (input)="filterFaculties()" class="search-input">
        <button (click)="sortFaculties('asc')" class="sort-button">Sort A-Z</button>
        <button (click)="sortFaculties('desc')" class="sort-button">Sort Z-A</button>
    </div>
    <div class="all-faculties">
        <div class="faculty-container" *ngFor="let faculty of filteredFaculties" [class.disabled]="!faculty.activeContract">
            <h2> {{ faculty.name }} </h2>
            <img [src]="faculty.photo" alt="{{ faculty.name }}" class="faculty-photo">
            <button class="button" (click)="selectedCompany(faculty)" [disabled]="!faculty.activeContract">Book your fair</button>
        </div>
    </div>
</div>
